<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>SWFUpload Test</title>
	<%= stylesheet_link_tag 'screen', 'swfupload', :media => 'screen' %>
	<%= javascript_include_tag 'swfupload', 'swfupload_handlers' %>
	<%= csrf_meta_tag %>

</head>

<body>
  	<div class="container">
    <%= yield %>
		</div>
</body>
</html>
